/* * {
  box-sizing: border-box;
} */

html, body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.container {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "logo"
    "main"
    "footer";
}

/* LOGO */
.logo {
  grid-area: logo;
  padding: 20px;
}
/* MENU */
.menu {
  position: fixed;
  top: 90px;
  left: 0;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  
}

.menu a {
  text-decoration: none;
  font-size: large;
  color:black
}
.menu a:hover{
    color:#67c8be;
}

/* MAIN CONTENT */
main {
  grid-area: main;
  padding-left: 220px; 
  display: grid;
  gap: 50px;
  padding-top: 20px;
}

/* HOME SECTION */
.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}


.home-text {
font-family: "Bungee", sans-serif;
}

.accent{
    color:#67c8be;
}


.my-picture img {
  max-width: 100%;
  height: auto;
}
/* ABOUT */
.about {
  max-width: 800px;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project {
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}

/* CONTACT */
.contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  
}


#contact-form{ 
  border-radius: 20px;
}
.contact input,
.contact textarea {
  border: 2px solid #67c8be;
  padding: 8px;
  font-size: 14px;
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
  border-color: #67c8be;
}

#name:hover, #email:hover{
    background-color: #67c8be;
}
/* GitHub and LinkedIn logos  */
.svg-icon {
  width: 30px; 
  height: 30px; 
  color: #000;
  transition: color 0.3s, transform 0.3s; 
}

.svg-icon:hover {
  color: #67c8be;
  transform: scale(1.1);
}
/* FOOTER */
footer {
  grid-area: footer;
  padding-left: 220px;
  padding: 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.name {
  text-align: right;
}